@model RegisterModel
@{
    ViewData["Title"] = "Register Member";
    Layout = "_Layout_confirmation";
    var registerModel = ViewData["RegisterModel"] as RegisterModel;
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <p>Added Member!, Thank You</p>
    </div>
</div>
