@{
    ViewData["Title"] = "Register Member";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Confirmation" asp-controller="Register">
        <label for="txt_CardNo">Card No: @ViewData["registerModel.txt_CardNo"]</label>
        <label for="txt_CardID">Personal ID: @ViewData["registerModel.txt_CardID"]</label>
        <label for="txt_BirthDate">Card No: @ViewData["registerModel.txt_BirthDate"]</label>
        <input type="submit" value="Save" />
        </form>
    </div>
</div>
