@{
    ViewData["Title"] = "Register Member";
}
@model RegisterModel

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
                ขอบคุณค่ะ ท่านได้ลงทะเบียน Umayplus เรียบร้อยแล้วค่ะ
    </div>
</div>
