@{
    ViewData["Title"] = "Register Member";
}

@Html.Partial("_Header")

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Confirmation" asp-controller="Register">
        <label for="txt_CardNo">Card No: <input type="text" id="txt_CardNo" name="txt_CardNo" value=""></label>
        <label for="txt_CardID">Personal ID: <input type="text" id="txt_CardID" name="txt_CardID" value=""></label>
        <label for="txt_BirthDate">Card No: <input type="text" id="txt_BirthDate" name="txt_BirthDate" value=""></label>
        <input type="submit" value="Check Profile" name="check_profile" id="check_profile" />
        </form>
    </div>
</div>