@{
    ViewData["Title"] = "Register Member";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <form>
            UmayPlus+ Card: <input type="text" id="txt_CardNo" name="txt_CardNo"><br/>
            Personal Card: <input type="text" id="txt_CardID" name="txt_CardID"><br/>
            Birthday: <input type="text" id="txt_BirthDate" name="txt_BirthDate"><br/>
            MobileNumber: <input type="text" id="txt_MobileNo" name="txt_MobileNo"><br/>
            <input type="submit" value="Check Member"
        </form>
    </div>
</div>
